$primary-font: var(--lora) !default;
$secondary-font: var(--allura) !default;

$black: #111111 !default;
$primary-color: #f2f2f2 !default;
$secondary-color: #d1232a !default;
$tertiary-color: #ecc2e6 !default;
