.contact {
  padding-top: 7.5rem;
  max-width: #{fluid(1000px, 1500px)};
  margin-left: auto;
  margin-right: auto;
  @include edge-padding;
  display: flex;
  flex-direction: row;
  gap: #{fluid(15px, 171px)};
  padding-bottom: 5rem;

  @include laptop {
    flex-direction: column;
  }

  &__form {
    width: 50%;

    @include laptop {
      width: 100%;
    }

    &-header {
      font-size: #{fluid(18px, 22px)};
      margin-bottom: #{fluid(10px, 34px)};
    }
  }

  &__info {
    width: 50%;

    @include laptop {
      width: 100%;
    }

    &-item {
      display: flex;
      flex-direction: row;
      gap: 9px;
      margin-bottom: #{fluid(10px, 32px)};
      align-items: flex-start;
      max-width: 526px;

      &:last-child {
        margin-bottom: 0;
      }

      &-icon {
        min-width: #{fluid(20px, 32px)};
      }

      &-text {
        font-size: #{fluid(17px, 24px)};
        color: $black;
        white-space: pre-wrap;

        a {
          color: $black;
        }
      }
    }

    &-title {
      font-size: #{fluid(20px, 32px)};
      margin-bottom: #{fluid(10px, 32px)};
      font-weight: 700;
    }
  }
}
