.contact {
  padding-top: 7.5rem;
  max-width: #{fluid(1000px, 1500px)};
  margin-left: auto;
  margin-right: auto;
  @include edge-padding;
  display: flex;
  flex-direction: row;
  gap: #{fluid(15px, 171px)};
  padding-bottom: 5rem;

  @include laptop {
    flex-direction: column;
  }

  &__form {
    width: 50%;

    @include laptop {
      width: 100%;
    }

    &-header {
      margin-bottom: #{fluid(10px, 34px)};
      p {
        font-size: #{fluid(18px, 22px)};
      }
    }
  }

  &__info {
    width: 50%;

    @include laptop {
      width: 100%;
    }
  }
}
