* {
  margin: 0;
  padding: 0;
  height: auto;
  box-sizing: border-box;
  max-width: 100%;
}

img {
  width: auto;
  height: auto;
}

body,
html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: $primary-font;
  color: $black;
  line-height: 120%;
  
}

p {
  font-weight: 400;
}

i {
  font-style: italic;
}

// SCROLLBAR
// Whole bar
::-webkit-scrollbar {
  width: auto;
}

// Track
::-webkit-scrollbar-track {
  background: #000;
}

// Handle
::-webkit-scrollbar-thumb {
  background: $secondary-color;
  border-radius: 6px;
}
