.Accordion {
  background: transparent;
  border-radius: 12px;
  padding: 10px 15px;
  transition: 0.2s ease-in-out;
  border: 1px solid transparent;

  &__answer {
    font-size: #{fluid(16px, 18px)};
    font-weight: 400;
    transition: 0.2s 0.15s ease-in-out;
    padding-left: 55px;
    opacity: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    display: none;
    line-height: 140%;

    .Accordion--open & {
      color: $black;
      opacity: 1;
      display: inline-block;
    }
  }

  &--open {
    background: rgba(255, 37, 36, 0.2);
    border-color: $secondary-color;
  }

  &__question {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    transition: 0.2s ease-in-out;
    border: 1px solid transparent;
    border-radius: 12px;
    padding: 7px 3px;

    &-icon {
      background: transparent;
      padding: 4px;
      transition: 0.2s ease-in-out;
      transform: rotate(0deg);
      min-width: 35px;
      display: block;

      path {
        .Accordion--open & {
          fill: $secondary-color;
        }
      }

      .Accordion--open & {
        transform: rotate(45deg);
        background: $primary-color;
        border-radius: 50%;
      }
    }

    &-text {
      font-weight: 700;
      font-size: #{fluid(17px, 20px)};
      transition: 0.2s ease-in-out;

      .Accordion--open & {
        color: $black;
      }
    }
  }
}
