.Anchor {
  font-family: $primary-font;
  font-size: #{fluid(16px, 20px)};
  color: $primary-color;
  padding: 15px 20px;
  border-radius: 12px;
  background: $black;
  display: inline-block;
  text-decoration: none;
  border: 2px solid $secondary-color;
  box-shadow: -8px 8px 0 0 $secondary-color;
  transition: 0.2s ease-in-out;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 0px 6px $secondary-color;
  }

  &--large {
    font-size: #{fluid(20px, 34px)};
    font-weight: 700;

    @include laptop {
      text-align: center;
    }
  }

  &--seconday {
    box-shadow: none;
    text-decoration: underline;
    font-weight: 400;
  }
}
