.PageTitle {
  position: fixed;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: left top;
  -moz-transform: rotate(90deg);
  -moz-transform-origin: left top;
  -ms-transform: rotate(90deg);
  -ms-transform-origin: left top;
  -o-transform: rotate(90deg);
  -o-transform-origin: left top;
  transform: rotate(90deg);
  transform-origin: left top;
  top: 10%;
  left: 100%;
  white-space: nowrap;
  z-index: 2;
  font-size: #{fluid(14px, 22px)};
  background: rgba(255, 255, 255, 0.5);
  padding: 3px 6px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  letter-spacing: 1px;
  font-weight: 400;
}
